/* 
|
|  Page Specific Styling
|
*/


/* Global Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

label {
    padding-left: 4px;
    display: block;
    margin-bottom: 0;
    font-size: 1rem;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold; }

span {
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: normal; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    background: transparent;
    color: #262626;
    font-size: 1.2rem;
    padding: 2px 4px;
    height: 20px;
    border: 1px solid transparent;
    width: 100%;
    min-width: 50px;
    margin-bottom: 0; }

.u-stack input,
.u-stack textarea {
    margin-top:-3px;
}

textarea {
    height: 110px;
    line-height:18px;
    resize: none;
    border: none;
}

* { 
    color-adjust: exact;  
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact; 
    box-sizing: border-box;
}





/* Main Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header h5 { margin-bottom: 6px; margin-top: -12px; }





/* Main Content
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.border-all     { border: 1px solid transparent; }
.border-right   { border-right: 1px solid transparent; }
.border-bottom  { border-bottom: 1px solid transparent; }
.border-left    { border-left: 1px solid transparent; }
.border-special { border-bottom: 1px dashed transparent; }
.container *    { border-color: black; }

.caption { display: block; font-size: 9px; }



/* 2 - Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.map-container      { width: 100%; height: 673px; }
.map-container img  { max-height: 100%; max-width: 100%; }





/* 6 -  Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer * { font-size: 9px !important; }

.footer .disclaimer     { float: left; font-style: italic; }
.footer .disclaimer p   { margin-bottom: 0; }





/* Test Columns, no margin */
.column,
.columns {
    margin-left: 0; }

.one.column,
.one.columns                    { width: 8.33333333333%; }
.two.columns                    { width: 16.6666666666%; }
.three.columns                  { width: 25%;            }
.four.columns                   { width: 33.3333333333%; }
.five.columns                   { width: 41.6666666666%; }
.six.columns                    { width: 50%;            }
.seven.columns                  { width: 58.3333333333%; }
.eight.columns                  { width: 66.6666666666%; }
.nine.columns                   { width: 75.0%;          }
.ten.columns                    { width: 83.3333333333%; }
.eleven.columns                 { width: 91.6666666666%; }
.twelve.columns                 { width: 100%;           }

.one-third.column               { width: 33.3333333333%; }
.two-thirds.column              { width: 66.6666666666%; }

.one-half.column                { width: 50%; }